<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Rover Web Control</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <img width="30" height="30" class="nav-ufo" src="static/images/mars-rover.svg">
            <span>Rover</span>
        </a>
    </nav>
    
    <!-- Header -->
    <header>
      <div class="hero text-center">
        <h1>Rover Web Control</h1>
        <p>The Truth is Out There</p>
      </div>
    </header>
    <!-- Main for the page's contents -->
    <main>
      <div class="container">
        <div class="row">
          <p>Front sensors' distance (cm): </p>
          <p id="sensorsValue"></p>
        </div>
        <div class="row">
          <!-- Image View -->
          <div class="col-md-6">
            <div class="card border-light">
              <div class="card-header">
                <div class="input-group mb-3">
                  <label class="form-control">Rover's View </label>
                  <div class="input-group-append">
                    <button id="btnRView" class="btn btn-outline-secondary" type="button">Disabled</button>
                  </div>
                </div>
              </div>
              <div class="card-body" id="rover_view_container">  
                <img width="100%" height="100%" id="rover_view_img">
              </div>
            </div>
          </div>
          <!-- Web Controller -->
          <div class="col-md-6">
            <svg id="svgControl" height="360" width="360">
              <defs>
                <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%" style="stop-color:#b5b5b5, #8f8f8f;stop-opacity:1" />
                  <stop offset="100%" style="stop-color:#858585;stop-opacity:1" />
                </linearGradient>
                <!-- Symbol Description -->
                <symbol id="triangle_md">
                  <path d="M 10 10 L 10 60 L 60 60 Z" fill="url(#grad1)" stroke="url(#grad1)" stroke-linejoin="round" stroke-width="20"/>
                </symbol>
                <symbol id="triangle_lg">
                  <path d="M 10 10 L 10 110 L 110 110 Z" fill="url(#grad1)" stroke="url(#grad1)" stroke-linejoin="round" stroke-width="20"/>
                </symbol>
              </defs>
              <g id="Auto_Run" class="svg_g">
                <circle cx="180" cy="180" fill="url(#grad1)" r="40" />
                <text x="163" y="184" fill="white">Auto</text>
              </g>
              <g id="Left" class="svg_g"></g>
              <g id="Forward" class="svg_g"></g>
              <g id="Right" class="svg_g"></g>
              <g id="Reverse" class="svg_g"></g>
              <g id="Pivot_Left" class="svg_g"></g>
              <g id="Pivot_Right" class="svg_g"></g>
              <g id="T_L_" class="svg_g"></g>
              <g id="T_U_" class="svg_g"></g>
              <g id="T_R_" class="svg_g"></g>
              <g id="T_D_" class="svg_g"></g>
            </svg>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-light progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
      <div class="footer-copyright text-center py-3">© Copyright bdthai81@gmail.com</div>
    </footer>
  </div>
  
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
